[Unit]
Description=AMS Stat Service

[Service]
User=infinity
Group=lccadm
WorkingDirectory=~
Type=simple
ExecStart=/opt/ams-servers/8.0/sbin/ams-isoftstat

[Install]
WantedBy=multi-user.target
