<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" encoding="utf-8">
    <head>
        <title>iSoftrepo</title>            
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <script type="text/javascript" src="../scripts/common.js"> </script>
        <link rel="stylesheet" href="../styles/main.css"/>
    </head>
    <body onload="do_load();">
        <form action="_SERVERSCRIPTURI" method="get" onsubmit="do_submit();">
        <ul id="flags">
             <!--IF HOMELINK-->
            <li class="nav"><a href="https://devel.ncbr.muni.cz/whitezone/root/index.php?lang=en&amp;action=main&amp;show=overview">Development</a> / <a href="/whitezone/root/index.php?lang=en&amp;action=main
&amp;show=intro">Infinity</a></li>
            <!--END IF HOMELINK-->
            <li><img src="../images/en.png" alt="english flag" />English</li>
        </ul>  
        <div id="header">
            <h1>Infinity - Software and Job Management System</h1>
            <div><img src="../images/logo.png" alt="Infinity logo" /></div>
        </div>  
        <ul id="nav">
            <li><a id="intro" href="/whitezone/root/index.php?lang=en&amp;action=main&amp;show=intro">Introduction</a></li>
            <li><a href="/whitezone/wiki/">Documentation</a></li>
            <li><a class="selected" href="/whitezone/isoftrepo/fcgi-bin/isoftrepo.fcgi">iSoftrepo</a></li>
            <li><a id="mailman" href="/whitezone/root/index.php?lang=en&amp;action=main&amp;show=mailman">Mailing lists</a></li>
            <li><a id="code" href="/whitezone/root/index.php?lang=en&amp;action=main&amp;show=code">Code</a></li>
        </ul>       
        <div id="menu">
            <div class="right">
                <span>Search:</span>
                <input class="search" type="text" name="search" value=""/>
            </div>
            <input type="hidden" name="site"
                                 value="_SITE"/>
            <input type="hidden" name="module"
                                 value="_BUILD"/>
            <input type="hidden" name="action"
                                 value="none"/>
            <input type="button" name="sites_button"
                                 value="Sites" onclick="do_action('sites');"/>
            <input type="button" name="info_button"
                                 value="Site info" onclick="do_action('info');"/>
            <input type="button" name="categories_button"
                                 value="Categories" onclick="do_action('categories');"/>
            <input type="button" name="module_button"
                                 value="Module" onclick="do_action('module');"/>
            <input type="button" name="version_button"
                                 value="Version" onclick="do_action('version');"/>
            <input type="button" name="build_button"
                                 value="&gt; Build &lt;" onclick="do_action('build');"/>
        </div>
        <div id="path">
            <p>/ <a href="_SERVERSCRIPTURI">All sites</a> /
                 <a href="_SERVERSCRIPTURI?action=categories&amp;site=_SITE">_SITE</a> /
                 <a href="_SERVERSCRIPTURI?action=module&amp;site=_SITE&amp;module=_MODULEURL">_MODULE</a> /
                 <a href="_SERVERSCRIPTURI?action=version&amp;site=_SITE&amp;module=_MODVERURL">_MODVER</a> /
                 _BUILD
            </p>
        </div>
        <div id="build">
            <div class="description">
                <h3>_BUILD</h3>
                <table>
                    <tr>
                        <td class="sec" colspan="2">General build information</td>
                    </tr>
                    <tr>
                        <td>Name:</td><td>_MODULE</td>
                    </tr>
                    <tr>
                        <td>Version:</td><td>_VERSION</td>
                    </tr>
                    <tr>
                        <td>Architecture:</td><td>_ARCH</td>
                    </tr>
                    <tr>
                        <td>Parallel mode:</td><td>_MODE</td>
                    </tr>
                    <tr>
                        <td>Cannonical:</td><td>_BUILD</td>
                    </tr>
                </table>
            </div>
            <!--IF ACL-->
            <div class="acl">
                <table>
                    <tr>
                        <td class="sec">Access rules</td>
                    </tr>
                    <tr>
                        <td>
                            <ol>
                                <!--DO CYCLE RULES-->
                                <li>_ACLRULE</li>
                                <!--END CYCLE RULES-->
                                <li>_DEFACL</li>
                            </ol>
                        </td>
                    </tr>
                    <!--END CYCLE RULES-->
                </table>
            </div>
            <!--END IF ACL-->
            <!--IF DEPENDENCIES-->
            <div class="deps">
                <table>
                    <tr>
                        <td class="sec" colspan="2">Dependencies</td>
                    </tr>
                    <tr>
                        <th>Type</th><th>Name</th>
                    </tr>
                    <!--DO CYCLE DEPS-->
                    <tr>
                        <td>_DTYPE</td>
                        <td>
                        <!--IF MNAM-->
                        <a href="_SERVERSCRIPTURI?action=module&amp;site=_SITE&amp;module=_DNAMEURL">_DNAME</a>
                        <!--END IF MNAM-->
                        <!--IF MVER-->
                        <a href="_SERVERSCRIPTURI?action=version&amp;site=_SITE&amp;module=_DNAMEURL:_DVERURL">_DNAME:_DVER</a>
                        <!--END IF MVER-->
                        <!--IF MBUILD-->
                        <a href="_SERVERSCRIPTURI?action=build&amp;site=_SITE&amp;module=_DNAMEURL:_DVERURL:_DARCHURL:_DMODEURL">_DNAME:_DVER:_DARCH:_DMODE</a>
                        <!--END IF MBUILD-->
                        </td>
                    </tr>
                    <!--END CYCLE DEPS-->
                </table>
            </div>
            <!--END IF DEPENDENCIES-->
            <div class="tech">
                <table>
                    <tr>
                        <td class="sec" colspan="5">Technical specification</td>
                    </tr>
                    <tr>
                        <th>Type</th><th>Name</th><th>Value</th><th>Operation</th><th>Priority</th>
                    </tr>
                    <!--DO CYCLE T-->
                    <tr>
                        <td>_TTYPE</td><td>_TNAME</td><td>_TVALUE</td><td>_TOPERATION</td><td>_TPRIORITY</td>
                    </tr>
                    <!--END CYCLE T-->
                </table>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div id="footer">
            <p>Powered by <b>Advanced Module System</b> _AMSVER<!--INCLUDE MONITORING--></p>
        </div>
        </form>
    </body>
</html> 
