<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" encoding="utf-8">
    <head>
        <title>iSoftrepo</title>            
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <script type="text/javascript" src="../scripts/common.js"> </script>
        <link rel="stylesheet" href="../styles/main.css"/>
    </head>
    <body onload="do_load();">
        <form action="_SERVERSCRIPTURI" method="get" onsubmit="do_submit();">
        <ul id="flags">
             <!--IF HOMELINK-->
            <li class="nav"><a href="https://devel.ncbr.muni.cz/whitezone/root/index.php?lang=en&amp;action=main&amp;show=overview">Development</a> / <a href="/whitezone/root/index.php?lang=en&amp;action=main
&amp;show=intro">Infinity</a></li>
            <!--END IF HOMELINK-->
            <li><img src="../images/en.png" alt="english flag" />English</li>
        </ul>  
        <div id="header">
            <h1>Infinity - Software and Job Management System</h1>
            <div><img src="../images/logo.png" alt="Infinity logo" /></div>
        </div>  
        <ul id="nav">
            <li><a id="intro" href="/whitezone/root/index.php?lang=en&amp;action=main&amp;show=intro">Introduction</a></li>
            <li><a href="/whitezone/wiki/">Documentation</a></li>
            <li><a class="selected" href="/whitezone/isoftrepo/fcgi-bin/isoftrepo.fcgi">iSoftrepo</a></li>
            <li><a id="mailman" href="/whitezone/root/index.php?lang=en&amp;action=main&amp;show=mailman">Mailing lists</a></li>
            <li><a id="code" href="/whitezone/root/index.php?lang=en&amp;action=main&amp;show=code">Code</a></li>
        </ul>   
        <div id="menu">
            <div class="right">
                <!--IF CHECKED_VERS-->
                <input type="checkbox" checked="checked" name="include_vers"
                       value="true" onclick="do_action('categories');"/>
                <!--ELSE CHECKED_VERS-->
                <input type="checkbox" name="include_vers" value="true"
                       onclick="do_action('categories');"/>
                <!--END IF CHECKED_VERS-->
                <span>Include versions</span> | <span>Search:</span>
                <input class="search" type="text" name="search" value=""/>
            </div>
            <input type="hidden" name="site"
                                 value="_SITE"/>
            <input type="hidden" name="action"
                                 value="none"/>
            <input type="button" name="sites_button"
                                 value="Sites" onclick="do_action('sites');"/>
            <input type="button" name="info_button"
                                 value="Site info" onclick="do_action('info');"/>
            <input type="button" name="categories_button"
                                 value="&gt; Categories &lt;" onclick="do_action('categories');"/>
        </div>
        <div id="path">
            <p>/ <a href="_SERVERSCRIPTURI">All sites</a> / _SITE</p>
        </div>
        <div id="categories">
            <!--DO CYCLE CATEGORIES-->
            <h3>_CATEGORY</h3>
            <ul>
                <!--DO CYCLE MODULES-->
                <li><a href="_SERVERSCRIPTURI?action=_ACTION&amp;site=_SITE&amp;module=_MODULEURL">_MODULE</a></li>
                <!--END CYCLE MODULES-->
            </ul>
            <div style="clear:both; padding: 0px; padding-top: 10px;"><!-- this comment is important--></div>
            <!--END CYCLE CATEGORIES-->
        </div>
        <div id="footer">
            <p>Powered by <b>Advanced Module System</b> _AMSVER<!--INCLUDE MONITORING--></p>
        </div>
        </form>
    </body>
</html> 
